body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #7DC3FD;
    padding: 20px;
    text-align: center;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

main h1 {
    margin-top: 30px; /* 增加标题和列表项之间的距离 */
}

main nav ul {
    margin-top: 20px; /* 增加标题和列表项之间的距离 */
}

main nav ul li {
    display: block;
    margin: 10px 0; /* 增加列表项之间的垂直距离 */
}

input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    width: calc(100% - 22px);
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #89afdf;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 5px;
}

button:hover {
    background-color: #0F59A4;
}

tagsList {
    list-style-type: none;
    padding: 0;
}

tagsList li {
    background-color: #f0f8ff;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

message {
    color: red;
    margin-top: 20px;
}

footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}
